boltons
editdistance
h5py
numpy
pytorch-lightning
smart_open
toml
torch<1.8
torchvision<0.9
tqdm
pyyaml==5.1
dominate
torchfile
easydict
imageio-ffmpeg
matplotlib
numpy
Pillow
protobuf
PyYAML
scikit-image
scikit-learn
scipy
tensorboardX
torch>=1.2.0
tqdm
tqdm
opencv-python
imageio
bandit
black
editdistance
itermplot
jupyterlab
matplotlib
mypy
nltk
pycodestyle
pydocstyle
pylint
pytest

tornado
safety
scipy
pillow
wandb